# Conda: conda install -y -c conda-forge tesseract poppler
# Ubuntu/Debian: sudo apt-get install -y tesseract-ocr poppler-utils

# LangChain y Ecosistema
langchain-core>=0.2.0
langchain-community
langchain-ollama
langchain-google-genai
langchain-qdrant
langchain-huggingface
langchain-text-splitters
langchain-experimental
# Base de Datos Vectorial
qdrant-client
fastembed

# Procesamiento de Documentos y Texto
pymupdf
pydantic
requests

# IA y Embeddings
sentence-transformers
torch

# UI Dashboard
streamlit
unstructured[pdf]
python-dotenv
